* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Medium";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Bold";
  src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Extra";
  src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 800;
}

html {
  font-size: 18px;
  font-family: "Medium";
}

:root {
  /* Primary */
  --Light-Red: hsl(0, 100%, 67%);
  --Orangey-Yellow: hsl(39, 100%, 56%);
  --Green-Teal: hsl(166, 100%, 37%);
  --Cobalt-Blue: hsl(234, 85%, 45%);

  /* Transparencies */
  --Light-Red-LT: hsla(0, 100%, 67%, 0.1);
  --Orangey-Yellow-LT: hsla(39, 100%, 56%, 0.1);
  --Green-Teal-LT: hsla(166, 100%, 37%, 0.1);
  --Cobalt-Blue-LT: hsla(234, 85%, 45%, 0.1);

  /* Gradients */
  /* Background */
  --Light-Slate-Blue: hsl(252, 100%, 67%);
  --Light-Royal-Blue: hsl(241, 81%, 54%);

  /* Circle */
  --Violet-Blue: hsla(256, 72%, 46%, 1);
  --Persian-Blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-Blue: hsl(221, 100%, 96%);
  --Light-Lavender: hsl(241, 100%, 89%);
  --Dark-Gray-Blue: hsl(224, 30%, 27%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  box-shadow: 5px 10px 10px 10px var(--Pale-Blue);
  border-radius: 15px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    var(--Light-Slate-Blue),
    var(--Light-Royal-Blue)
  );
  padding: 3rem;
  border-radius: 15px;
}

.results h1,
.results .circle p,
.results p {
  color: var(--Light-Lavender);
}

.results h2,
.results h3 {
  color: var(--White);
}

.results h1 {
  font-weight: normal;
}

.results h1,
.summary .title {
  font-size: larger;
  margin-bottom: 1.5rem;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--Violet-Blue), var(--Persian-Blue));
  border-radius: 50%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.circle h2 {
  font-size: 2.5rem;
}

.circle p {
  font-size: 0.75rem;
}

.results h3 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.results p {
  text-align: center;
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.summary .subset {
  display: inherit;
  justify-content: space-between;
  position: relative;
  font-size: medium;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

.subset:first-of-type {
  color: var(--Light-Red);
  /* I left color-mix in instead of using the color variables I created to
     show that I learned about color-mix. */
  background: color-mix(in hsl, currentColor 10%, transparent);
}

.subset:nth-of-type(2) {
  color: var(--Orangey-Yellow);
  background: color-mix(in hsl, currentColor 10%, transparent);
}

.subset:nth-of-type(3) {
  color: var(--Green-Teal);
  background: color-mix(in hsl, currentColor 10%, transparent);
}

.subset:nth-of-type(4) {
  color: var(--Cobalt-Blue);
  background: color-mix(in hsl, currentColor 10%, transparent);
}

.subset img {
  padding-right: 0.75rem;
}

.subset span {
  color: var(--Dark-Gray-Blue);
}

.subset span.span_flex {
  display: inherit;
}

.corner {
  position: absolute;
  height: 10px;
  width: 10px;
}

.corner:nth-of-type(1) {
  top: 0;
  left: 0;
  border-radius: 5px 0 0 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
}

.corner:nth-of-type(2) {
  top: 0;
  right: 0;
  border-radius: 0 5px 0 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
}

.corner:nth-of-type(3) {
  bottom: 0;
  right: 0;
  border-radius: 0 0 5px 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
}

.corner:nth-of-type(4) {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
}

.red {
  border-color: var(--Light-Red-LT);
}

.yellow {
  border-color: var(--Orangey-Yellow-LT);
}

.green {
  border-color: var(--Green-Teal-LT);
}

.blue {
  border-color: var(--Cobalt-Blue-LT);
}

.continue_button {
  width: 100%;
  padding: 0.75rem 0;
  margin-top: 1rem;
  border-radius: 50px;
  color: var(--White);
  background-color: var(--Dark-Gray-Blue);
}

.continue_button:hover {
  background-color: var(--Cobalt-Blue);
  color: var(--Light-Lavender);
}
